<?xml version="1.0"?>

<model>
  <name>DLS:stepping_blocks_inclined</name>
  <version>1.0</version>
  <sdf version="1.4">model.sdf</sdf>

  <author>
    <name>Romeo Orsolino</name>
    <email>romeo.orsolino@iit.it</email>
  </author>

  <description>
    This is an scenario for testing locomotion that consists in 2 pallets with stepping blocks in the middle.
  </description>
</model>
