<?xml version="1.0"?>

<model>
  <name>DLS: Complex Stairs</name>
  <version>1.0</version>
  <sdf version="1.4">model.sdf</sdf>

  <author>
    <name>Romeo Orsolino</name>
    <email>romeo.orsolino@iit.it</email>
  </author>

  <description>
    This model represents a stair with irregular step height.
  </description>
</model>
