<?xml version="1.0"?>

<model>
  <name>DLS: Pallet770x1000x150mm</name>
  <version>1.0</version>
  <sdf version="1.4">model.sdf</sdf>

  <author>
    <name>Michele Focchi</name>
    <email>michele.focchi@iit.it</email>
  </author>

  <description>
    This model approximates to a benchmark pallet
  </description>
</model>
