<?xml version="1.0"?>

<model>
  <name>DLS: a pipe crossing the robot path</name>
  <version>1.0</version>
  <sdf version="1.4">model.sdf</sdf>

  <author>
    <name>Michele Focchi</name>
    <email>michelele.focchi@iit.it</email>
  </author>

  <description>
    This is an scenario for testing locomotion that consists in 2 pallets with stepping blocks in the middle.
  </description>
</model>
