<?xml version="1.0"?>

<model>
  <name>DLS: Step pallets 2</name>
  <version>1.0</version>
  <sdf version="1.4">model.sdf</sdf>

  <author>
    <name>Carlos Mastalli</name>
    <email>carlos.mastalli@iit.it</email>
  </author>

  <description>
    This is an scenario for testing locomotion that consists in pallets with stepping blocks in the middle.
  </description>
</model>
